<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">Product List <a href="/product/product-upload/new"
              class="btn btn-primary pull-right" type="button">Create New</a></h4>
          <p class="card-category">Synthesize information of each product</p>
        </div>
        <div class="card-body">
          <form action="/product/filter_Month" method="post">
            <div class="row">
              <div class="form-group col-4">
                <select class="form-control" name="searchMonth" id="searchMonth">
                  <option value="0">All Month</option>
                  <option value="01">January</option>
                  <option value="02">February</option>
                  <option value="03">March</option>
                  <option value="04">April</option>
                  <option value="05">May</option>
                  <option value="06">June</option>
                  <option value="07">July</option>
                  <option value="08">August</option>
                  <option value="09">September</option>
                  <option value="10">October</option>
                  <option value="11">November</option>
                  <option value="12">December</option>
                </select>
              </div>
              <div class="form-group col-4">
                <button type="submit" class="btn btn-primary">Filter</button>
              </div>
            </div>
          </form>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>
                  No.
                </th>
                <th>
                  Product Name
                </th>
                <th>
                  Product Price
                </th>
                <th>
                  Total Quantity
                </th>
                <th>
                  Total Order
                </th>
                <th>
                  Total profit
                </th>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td>
                    {{this.number}}
                  </td>
                  <td>
                    {{this.title}}
                  </td>
                  <td>
                    $ {{this.price}}
                  </td>
                  <td>
                    {{this.orderInfo.qty}}
                  </td>
                  <td>
                    {{this.orderInfo.order}}
                  </td>
                  <td>
                    $ {{this.orderInfo.price}}
                  </td>
                  <td>
                    <a class="text-primary" href="/product/productDetail/{{this._id}}">Detail</a>
                  </td>
                </tr>
                {{/each}}
                <tr class="font-weight-bold text-uppercase">
                  <td></td>
                  <td>Total all item:</td>
                  <td></td>
                  <td>{{sumQuantity}}</td>
                  <td>{{sumOrder}}</td>
                  <td>$ {{sumProfit}}</td>
                  <td></td>
                </tr>
              </tbody>
                <nav class="pull-right" style=" padding-right: 50px; display: inline-block;">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" style="color:blueviolet" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                    <li class="page-item"><a class="page-link" style="color:blueviolet" href="/product/productList/1">1</a></li>
                    <li class="page-item"><a class="page-link" style="color:blueviolet" href="/product/productList/2">2</a></li>
                    <li class="page-item"><a class="page-link" style="color:blueviolet" href="/product/productList/3">3</a></li>
                    <li class="page-item"><a class="page-link" style="color:blueviolet" href="/product/productList/4">4</a></li>
                    <li class="page-item">
                      <a class="page-link" style="color:blueviolet" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  </ul>
                </nav>
            </table>
            <div>
              <a class="btn btn-primary pull-right" href="/product/exportData" role="button">download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>