<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary row">
          <div class="col-6">
            <h4 class="card-title mt-0">Product Information</h4>
            <p class="card-category">Synthesize information of this product</p>
          </div>
          <div class="col-6">
            <a href="/product/product-upload/{{proDetail._id}}" type="button" class="btn btn-primary pull-right"><i
                class="material-icons">edit</i></a>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-8" style="padding-left:50px;">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Product Detail</h4>
                  <p class="card-category">Description about information of product</p>
                </div>
                <div class="card-body" style="padding-bottom:117px;">
                  <form>
                    {{#proDetail}}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product ID:</label>
                          <p>{{this._id}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Name:</label>
                          <p>{{this.title}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Category:</label>
                          <p> {{this.userGroup}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Rate:</label>
                          <p>{{this.productRate}}</p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Product Description:</label>
                          <p>{{this.description}}</p>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Price:</label>
                          <p> ${{this.price}}</p>
                        </div>
                      </div>
                    </div>
                    {{/proDetail}}
                  </form>
                </div>
              </div>
            </div>
            <div class="col-4" style="padding-right:50px;">
              <div class="card">
                <div class="card-body">
                  <div class="form-group">
                    <img src="../../images/{{proDetail.imagePath}}"
                      class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                      alt="Image Product" />
                  </div>
                  <h6 class="card-category text-gray text-center">{{proDetail.title}}</h6>
                </div>
              </div>

            </div>
          </div>
          <div class="container">
            <div>
              <legend class="col-form-legend col-sm-1-12">
                <h2>Order List</h2>
              </legend>
            </div>
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-primary">
                  <th>
                    No.
                  </th>
                  <th>
                    Order Date
                  </th>
                  <th>
                    Cus Name
                  </th>
                  <th>
                    Cus Phone
                  </th>
                  <th>
                    Cus Address
                  </th>
                  <th>
                    Discount
                  </th>
                  <th>
                    Total Quantity
                  </th>
                  <th>
                    Size
                  </th>
                  <th>
                    Total Price
                  </th>
                  <th>
                    Status
                  </th>
                </thead>
                <tbody>
                  {{#each orderDetail}}
                  <tr>
                    <td>
                      {{this.numberOrder}}
                    </td>
                    <td>
                      {{this.orderDate}}
                    </td>
                    <td>
                      {{this.userInfo.name}}
                    </td>
                    <td>
                      {{this.userInfo.phoneNum}}
                    </td>
                    <td>
                      {{this.userInfo.address}}
                    </td>
                    <td>
                      {{this.couponCode.description}}
                    </td>
                    <td>
                      {{this.totalQuantity}}
                    </td>
                    <td>
                      {{this.Size}}
                    </td>
                    <td>
                      $ {{this.totalPrice}}
                    </td>
                    <td>
                      {{this.status}}
                    </td>
                  </tr>
                  {{/each}}
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                      
                    <td>
                      <h4 class="">Total:</h4>
                    </td>
                    <td>
                      <h4>{{totalOrderQty}}</h4>
                    </td>
                    <td></td>
                    <td>
                      <h4>$ {{totalOrderPrice}}</h4>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-sm-11">
              <a href="/product/productList/1" type="button" class="btn btn-primary btn-round pull-right">Back to list
                <div class="ripple-container"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>