<div class="content">
  <div class="container-fluid"></div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-plain">
        <div class="card-header card-header-primary">
          <h4 class="card-title mt-0">Product List <a href="/product-upload/new" class="btn btn-primary pull-right"
              type="button">Create New</a></h4>
          <p class="card-category">Synthesize information of each product</p>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="text-primary">
                <th>
                  No.
                </th>
                <th>
                  Product Name
                </th>
                <th>
                  Total Quantity
                </th>
                <th>
                  Product Price
                </th>
                <th>
                  Total Order
                </th>
                <th>
                  Total profit
                </th>
              </thead>
              <tbody>
                {{#each products}}
                <tr>
                  <td>
                    {{this.number}}
                  </td>
                  <td>
                    {{this.title}}
                  </td>
                  <td>
                    {{this.orderInfo.qty}}
                  </td>
                  <td>
                    $ {{this.price}}
                  </td>
                  <td>
                    {{this.orderList.length}}
                  </td>
                  <td>
                    $ {{this.orderInfo.price}}
                  </td>
                  <td>
                    <a class="text-primary" href="/productDetail/{{this._id}}">Detail</a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>